In [1]:
import numpy as np
import pandas as pd

In [17]:
data = pd.read_csv('appartment_ave_prices.csv', sep = ';')
data

,Год,Все типы квартир,Квартиры низкого качества,Квартиры среднего качества (типовые),Квартиры улучшенного качества,Элитные квартиры
0,1998,4941,3943,4431,5400,8247
1,1999,6151,4548,5371,6605,12130
2,2000,6590,5483,6422,7422,12009
3,2001,9072,7152,8789,9927,15476
4,2002,11557,9183,11254,12467,16663
5,2003,13967,12004,13659,14720,22906
6,2004,17931,15457,17911,18929,30405
7,2005,22166,19247,21915,23486,34995
8,2006,36615,32961,36198,38616,67979
9,2007,47206,40589,44630,48383,71549
10,2008,56495,50010,53752,57506,83207
11,2009,52895,48439,48940,53956,88140
12,2010,59998,54203,56762,60814,105302
13,2011,48243,42368,44002,50858,73168
14,2012,56370,48102,51279,60847,84525
15,2013,56478,49289,51419,60738,97811
16,2014,58085,51584,52664,62288,99261
17,2015,56283,49769,51574,60347,85084
18,2016,53983,45149,49359,59051,75256
19,2017,52350,42486,48159,57673,75032
20,2018,54924,47050,51157,59248,78245
21,2019,58528,49122,53864,63117,84334
22,2020,66712,52569,61020,72486,103043

In [18]:
data = data.drop([0, 1, 2, 3, 4, 5, 22], axis = 0)

In [39]:
X = data["Год"]
X.index = np.arange(1, len(X) + 1)
for i in range(1,17):
    X = X.replace({X[i]: i})
X

1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
Name: Год, dtype: int64

In [32]:
Y = data["Все типы квартир"]
Y.index = np.arange(1, len(Y) + 1)
Y

1     17931
2     22166
3     36615
4     47206
5     56495
6     52895
7     59998
8     48243
9     56370
10    56478
11    58085
12    56283
13    53983
14    52350
15    54924
16    58528
Name: Все типы квартир, dtype: int64

In [430]:
x = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16])
sum(x)

136

In [431]:
y = np.array([17931, 22166, 36615, 47206, 56495, 52895, 59998, 48243, 56370, 56478, 58085,
             56283, 53983, 52350, 54924, 58528])
len(y)

16

In [33]:
if X.size == Y.size:
    n = X.size
n

16

In [433]:
yf_x = y * x
sum(yf_x)

7348135

In [40]:
Yf_X = Y * X
sum(Yf_X)

7348135

In [42]:
X2 = X ** 2
sum(X2)

1496

In [435]:
a = (sum(yf_x) - (sum(x) * sum(y)) / n) / (sum(x2) - (sum(x)**2)/n)

In [436]:
a

1898.4117647058824

In [437]:
b = sum(y) / n - a *sum(x) / n

In [438]:
b

33147.875

In [439]:
predict = a * (n+1) + b
predict

65420.875

In [440]:
def s(x, w, z):
    med = (y[x] + y[w] + y[z])/3
    return med

In [441]:
listok = [0]

In [442]:
for i in range(1,15):
    listok.append(s(i-1, i, i+1))

In [443]:
listok

[0,
 25570.666666666668,
 35329.0,
 46772.0,
 52198.666666666664,
 56462.666666666664,
 53712.0,
 54870.333333333336,
 53697.0,
 56977.666666666664,
 56948.666666666664,
 56117.0,
 54205.333333333336,
 53752.333333333336,
 55267.333333333336]

In [444]:
listok.append(0)

In [445]:
listok

[0,
 25570.666666666668,
 35329.0,
 46772.0,
 52198.666666666664,
 56462.666666666664,
 53712.0,
 54870.333333333336,
 53697.0,
 56977.666666666664,
 56948.666666666664,
 56117.0,
 54205.333333333336,
 53752.333333333336,
 55267.333333333336,
 0]

In [446]:
len(listok)

16

In [447]:
pred = listok[14] + 1/3 * (y[15] - y[14])
pred

56468.66666666667

In [448]:
a = 2 / 19

In [449]:
u0 = np.mean(y)
u0

49284.375

In [450]:
u = [u0]

In [451]:
for i in range(1, 16):
    u.append(a * y[i-1] + (1 - a) * u[i-1])

In [452]:
len(u)

16

In [453]:
a * y[15] + (1 - a) * u[15]

52257.56335863652