In [538]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import classification_report,confusion_matrix
from sklearn.model_selection import train_test_split
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [539]:
data = pd.read_csv('covid_class.csv')
data

   A01 A02 A03 A04 A05 A06 A07 Categories
0    +   +   +   +   +   -   -        PUS
1    +   +   -   +   +   -   -        PUS
2    +   +   +   +   -   +   -        PUS
3    +   +   -   +   -   +   -        PUS
4    +   -   -   -   -   -   +        PUS
5    +   +   +   -   -   -   +        PUS
6    +   +   -   -   -   -   +        PUS
7    +   +   +   +   -   -   -        PUS
8    +   -   -   +   +   -   -        PIM
9    -   +   -   +   +   -   -        PIM
10   +   -   -   +   -   +   -        PIM
11   -   +   -   +   -   +   -        PIM
12   -   +   -   -   -   -   +        PIM
13   -   -   -   -   -   -   +        PWS

In [540]:
data = data.replace({'+': 1, '-': 0})

In [541]:
data["Categories"] = data["Categories"].replace({'PUS' : 0, 'PIM': 1, 'PWS': 2})

In [542]:
target = data["Categories"]
target

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     1
9     1
10    1
11    1
12    1
13    2
Name: Categories, dtype: int64

In [543]:
data = data.drop(["Categories"], axis = 1)

Добавить 7 строк, обучить на 13 и сделать прогноз классов для 7 строк

In [544]:
X_train, X_test, y_train, y_test = train_test_split(data, target, test_size=0.15)

In [545]:
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((11, 7), (11,), (3, 7), (3,))

In [546]:
values = {}
values

{}

In [547]:
log_clf = LogisticRegression()
svc_clf = SVC()
knn_clf = KNeighborsClassifier()
dt_clf = DecisionTreeClassifier()
rf_clf = RandomForestClassifier()
nbc_clf = GaussianNB()

In [548]:
for i in range(1,100):
    X_train, X_test, y_train, y_test = train_test_split(data, target, test_size=0.15)
    if i == 1:
        for clf in [log_clf, svc_clf, knn_clf, dt_clf, rf_clf, nbc_clf]:
            clf.fit(X_train, y_train)

            pred = clf.predict(X_test)

            values[clf] = accuracy_score(y_test,pred)
    else:
        for clf in [log_clf, svc_clf, knn_clf, dt_clf, rf_clf, nbc_clf]:
            clf.fit(X_train, y_train)

            pred = clf.predict(X_test)

            values[clf] += accuracy_score(y_test,pred)

In [552]:
values

{LogisticRegression(): 55.99999999999998,
 SVC(): 47.66666666666667,
 KNeighborsClassifier(): 57.33333333333332,
 DecisionTreeClassifier(): 67.66666666666666,
 RandomForestClassifier(): 55.66666666666668,
 GaussianNB(): 57.666666666666664}

In [554]:
for i in values:
    values[i] = values[i] / 100

In [555]:
values

{LogisticRegression(): 0.5599999999999998,
 SVC(): 0.47666666666666674,
 KNeighborsClassifier(): 0.5733333333333333,
 DecisionTreeClassifier(): 0.6766666666666665,
 RandomForestClassifier(): 0.5566666666666668,
 GaussianNB(): 0.5766666666666667}

In [500]:
dt_clf.fit(data,target)

DecisionTreeClassifier()

In [511]:
test1 = np.array([1, 1, 1, 1, 0, 0, 0]) # test for 0 class
test2 = np.array([0, 1, 0, 1, 0, 1, 0]) # test for 1 class
test3 = np.array([0, 0, 0, 0, 0, 0, 1]) # test for 2 class

In [512]:
y1 = dt_clf.predict(test1.reshape(1, -1))[0]
y2 = dt_clf.predict(test2.reshape(1, -1))[0]
y3 = dt_clf.predict(test3.reshape(1, -1))[0]

In [526]:
print('Предсказанные классы \n',y1,'для точки нулевого класса\n', 
      y2, 'для точки первого класса \n',y3,'для точки второго класса')

Предсказанные классы
 0 для точки нулевого класса
 1 для точки первого класса
 2 для точки второго класса

In [282]:
data

    A01  A02  A03  A04  A05  A06  A07
0     1    1    1    1    1    0    0
1     1    1    0    1    1    0    0
2     1    1    1    1    0    1    0
3     0    0    0    0    0    0    1
4     1    0    0    0    0    0    1
5     1    1    1    0    0    0    1
6     0    1    0    0    0    0    1
7     1    1    1    1    0    0    0
8     1    0    0    1    1    0    0
9     0    1    0    1    1    0    0
10    1    0    0    1    0    1    0
11    0    1    0    1    0    1    0
12    1    1    0    0    0    0    1
13    1    1    0    1    0    1    0

In [283]:
target

0     0
1     0
2     0
3     2
4     0
5     0
6     1
7     0
8     1
9     1
10    1
11    1
12    0
13    0
Name: Categories, dtype: int64